/*

    Clearfix
    Classes and IDs that should be clearfixed
    @see http://www.positioniseverything.net/easyclearing.html

    @package      backend
    @subpackage   core

    @author       Thomas Deceuninck <thomasdeceuninck@netlash.com>
    @since        3.0

*/

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
}

.ie7 .clearfix {
	zoom: 1;
}